@import "tailwindcss";

/* 
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Momo+Trust+Display&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
  @apply bg-white text-gray-900;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 800;
} */